@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap");

//COLOR
$white: hsla(0, 0%, 100%, 1);
$gray1: hsla(0, 0%, 20%, 1);
$gray2: hsla(0, 0%, 31%, 1);
$light_gray: hsla(0, 0%, 74%, 1);

//typography
$font-size__14: 14px;
$font-size__18: 18px;
$font-size__24: 24px;
$font-size__48: 48px;

//font-family: 'Inconsolata', monospace;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Space Mono', monospace;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  .header {
    margin: 1.25rem 0 1.5rem 1.25rem;
    &__title {
      font-family: "Inconsolata";
      font-weight: 700;
      font-size: $font-size__24;
      line-height: 25px;
      letter-spacing: -0.08em;
      text-transform: uppercase;
      color: $gray1;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Space Mono";
    font-style: normal;
    align-items: flex-start;
    padding: 1.5rem 1.25rem 7.125rem;
    &__image {
      margin-top: 2.75rem;
      margin-bottom: 3.75rem;
      height: 238px;
      width: 286px;
      border-radius: 0px;
      align-self: center;
    }
    &__title {
      font-weight: 700;
      font-size: $font-size__48;
      line-height: 71px;
      letter-spacing: -0.035em;
      margin-bottom: 1.875rem;
    }
    &__paragraph {
      font-size: $font-size__18;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -0.035em;
      margin-bottom: 4.125rem;
    }
    &__button {
      width: 216px;
      height: 68px;
      background-color: $gray1;
      font-family: "Space Mono";
      font-size: $font-size__14;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 21px;
      letter-spacing: -0.035em;
      color: $white;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: hsla(0, 0%, 30%, 1);
      }
    }
  }
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    &__paragraph {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: $font-size__14;
      line-height: 17px;
      text-align: center;
      color: $light_gray;
    }

    &__anchor {
      text-decoration: none;
      font-weight: 700;
      color: $light_gray;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 376px) {
  body {
    .main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 11.25rem;
      padding-left: 4.8125rem;
      column-gap: 7.375rem;
      row-gap: 2.25rem;
      &__image {
        grid-row: 1 / span 3;
        height: 447.4263916015625px;
        width: 539.2236938476562px;
      }
      &__title {
        font-size: 64px;
        line-height: 95px;
        margin: 0;
      }
      &__paragraph {
        width: 380px;
        font-size: 24px;
        line-height: 36px;
        margin: 0;
      }
    }
  }
}
